body{
    background-color: #171717;
  }
  
  .white-section{
    position: relative;
    color: white;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: -250px;
  }
  
  .white-section h2{
  
      line-height: 2;
      letter-spacing: 5px;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;
  
  }
  
  .white-section p{
  
    
    font-size: 2opx;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    line-height: 2;
    font-weight: bold;
  
  }
  
  .white-section img{
  
    width: 600px;
    height: 350px;
    position:relative;
    left: 650px;
    bottom: 320px;
  
  }
  
  /* Cards */
  
  /* Font */
  @import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');
  
  /* Design */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  html {
    background-color: #171717;
  }
  
  body {
    color: #272727;
    font-family: 'Quicksand', serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0;
    padding: 1rem;
  }
  
  .main{
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
      font-size: 40px;
      font-weight: 400;
      text-align: center;
      color: white;
  }
  
  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    color: #ffffff;
    padding: 0.8rem;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: 400;
    display: block;
    width: 100%;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: transparent;
  }
  
  .btn:hover {
    background-color: #171717;
  }
  
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards_item {
    display: flex;
    padding: 1rem;
  }
  
  @media (min-width: 40rem) {
    .cards_item {
      width: 50%;
    }
  }
  
  @media (min-width: 56rem) {
    .cards_item {
      width: 33.3333%;
    }
  }
  
  .card {
    background-color: rgba(255, 4, 4, 0.685);
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }
  
  .card_content {
    
    padding: 1rem;
    background: linear-gradient(to bottom left, white C39E 100%);
  }
  
  .card_title {
    color: white ;
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin: 0px;
  }
  
  .card_text {
  
    color: white;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }