*{
    margin: 0;
    padding: 0;
}



/* Add a black background color to the top navigation */
.topnav {

    background-color:black;
    overflow: hidden;
  }

  .topnav h1{
    color: red;
    margin-left: 40px;
    margin-top: 20px;
  }

  /* Style the links inside the navigation bar */
  .topnav a {

    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 2%;
  }

  /* Change the color of links on hover */
  .topnav a:hover {

    background-color: #ddd;
    color: black;
  }

  /* Add a color to the active/current link */
  .topnav a.active {

    background-color: white;
    color: black;
  }

  

  #banner {

      background: url('jaxsta.jpeg');
      background-size: cover;
      background-position:center;
      height: 100vh;

  }

  .banner-text{
      margin-left: 60px;
      text-align: left;
      color: #fff;
      padding-top: 180px;
  }


  .banner-text h2{

    line-height: 1.6;
      letter-spacing: 5px;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;
  }

  .banner-text p{
      font-size: 2opx;
      font-style: italic;
  }

  .white-section{
    position: relative;
    margin-left: 40px;
    margin-top: 30px;
    margin-bottom: -250px;
  }

  .white-section h2{

      
      line-height: 2;
      letter-spacing: 5px;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;

  }

  .white-section p{

    
    font-size: 2opx;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    line-height: 2;
    font-weight: bold;

  }

  .white-section img{

    width: 600px;
    height: 350px;
    position:relative;
    left: 650px;
    bottom: 320px;

  }

  .black-section{

    position: relative;
    margin-left: 40px; 
    margin-top: 30px;
    margin-bottom: -250px;
  }

  .black-section h2{

    
      line-height: 2;
      letter-spacing: 5px;
      font-size: 35px;
      font-family: 'Roboto', sans-serif;

  }

  .black-section p{

    
    font-size: 2opx;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.8px;
    line-height: 2;
    font-weight: bold;

  }

  .black-section img{

    width: 600px;
    height: 350px;
    position:relative;
    left: 650px;
    bottom: 320px;
    
  }
  
  /* Rounded border */
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
}
 
hr.dotted {
  border-top: 3px dotted #bbb;
  margin-left: 20%;
  margin-right: 20%;
}

/* Footer */

.main {
  max-height: 550px;;
  background-color: #292c2f;
  color: white;
  font-size: 38pt;
  text-align: center;
  line-height: 550px;
 }
 footer{
  position: relative;
  bottom: 0;
 }
 .footer-distributed{
  background-color: black;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  
  padding: 55px 50px;
  margin-top: 80px;
 }
  
 .footer-distributed .footer-left,
 .footer-distributed .footer-center,
 .footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
 }
  
 .footer-distributed .footer-left{
  width: 40%;
 }
  
 .footer-distributed h3{
  color:  #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  margin: 0;
 }
  
 .footer-distributed h3 span{
  color: red;
 }
  
  
 .footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding:0;
 }
  
 .footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
 }
  
 .footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
 }
  
  
 .footer-distributed .footer-center{
  width: 35%;
 }
  
 .footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 }
  
 .footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
 }
  
 .footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
 }
  
 .footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
 }
  
 .footer-distributed .footer-center p a{
  color:  red;
  text-decoration: none;;
 }
  
 .footer-distributed .footer-right{
  width: 20%;
 }
  
 .footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
 }
  
 .footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
 }
  
 .footer-distributed .footer-icons{
  margin-top: 25px;
 }
  
 .footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;
  
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  
  margin-right: 3px;
  margin-bottom: 5px;
 }
  
  
 @media (max-width: 880px) {
  
  .footer-distributed{
  font: bold 14px sans-serif;
  
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
  display: block;
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
  }
  
  .footer-distributed .footer-center i{
  margin-left: 0;
  }
  .main {
  line-height: normal;
  font-size: auto;
  }
  
 }